@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');
body{
    background-color: white;
    margin: 0px;
    font-family: roboto;
    font-size: 25px;
}
#inputs{
    position: absolute;
    top: 5px;
    left: 5px;
    
}
#formula-changer{
    height: 30px;
    font-family: roboto;
    font-size: 20px;
}
#submit, #reset{
    height: 35px;
    font-family: roboto;
    font-size: 20px;
}